<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./assets/Css/final.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;700&display=swap" rel="stylesheet">
  

</head>

<body>
  <div class="wrapper">
    <form class="form" id="one" action="POST">
      <div class="pageTitle title">Jeux Terminé </div>
      <div class="secondaryTitle title"> </div>
      
   
      <fieldset id="object" aria-required="true">


        <div class="radio-image">
          <legend>Voici vos statistiques de jeux :</legend>
          <input type="radio" id="option1" name="options" value="1">
          <label for="option1" class="picto-item" aria-label="vous commencez avec 100or">
            <img  class="picto-item" src="./assets/img/money.png" alt="Option 1">
            <p id="resulttext">{{Data.Data.Player.argent}}</p>
            
          </label>
          <legend id="itemlegend1"> Or </legend>
        </div>
         
        <div class="radio-image">
          <input type="radio" id="option2" name="options" value="2">
          <label for="option2" class="picto-item" aria-label="vous commencez avec 500or">
            <img  class="picto-item"  src="./assets/img/popularity.png" alt="Option 2">
            <p id="resulttext">{{:Data.Data.Player.popu}}</p>
          </label>
          <legend  id="itemlegend2"> Popularité </legend>
        </div>
          <div class="radio-image">
            <input type="radio" id="option3" name="options" value="3">
            <label for="option3" class="picto-item" aria-label="vous commencez avec 1000or">
              <img  class="picto-item" src="./assets/img/morality.png" alt="Option 2">

             {{if Data.Data.Player.popu  <=-50  }}
              <p id="resulttext"></p>
              {{else}}
              <p id="vous etes un monstre"></p>
              {{if Data.Data.Player.popu  > -50 && || Data.Data.Player.popu < 0 }}
              <p id="vous etes loin d'etre en odeur de sainteté"></p>
              {{if  Data.Data.Player.popu  >=0 ||   Data.Data.Player.popu < 50 }}
              <p id="vous etes  bienfaisant "></p>
              {{if  Data.Data.Player.popu  >=50  }}
              <p id="vous etes  un saint"></p>
           
              
              {{/if}}


          </label>
          <legend  id="itemlegend3"> moralité </legend>
        </div>
      </fieldset>
      


      
      
          
      <fieldset id="three">
        <legend>Votre fin :</legend>
      
        <div>
         
        </div>
      </fieldset>

      <button class="submit formEntry" type="submit">Continuer</button>

 
    </form>
  </div>
  <script src="start.js"></script>
</body>

</html>